/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
	background: #091936 url(/Content/Images/bg.png) 0 0 repeat-x;
    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #EEE;
}

.note
{
	font-size: .75em;
    color: #999;
    margin-bottom: 10px;
}

.attention
{
	color: Yellow;
}

a:link
{
    color: #038af3;
    text-decoration: underline;
}
a:visited
{
    color: #509abc;
}
a:hover
{
    color: #1da0ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 2px;
    padding-left: 0px;
    margin-left: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    border-bottom: solid 1px #6A86C8;
    margin-right: 20px;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 95%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0 0px 0 0;
}

p#logo, h1#logo
{
    font-weight: bold;
    font-size: 24px !important;
    padding: 10px 0;
    margin: 0;
    color: #FFF;
    border: none;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

#logo a
{
    color: #FFF;
    text-decoration: none;
    font-size: 32px !important;
}

#mainContent
{
	background: #091936 url(/Content/Images/bgMainContent.png) repeat-x 0 0;	
	background-color: #000;		
	padding: 5px 5px 15px 10px;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscrore */
}

.field-validation-error, .validation-summary-errors
{
	color: Red;
}

.columnsContainer
{
    position: relative;
}

.leftColumn
{
    width: 40%;
    float: left;
}

.rightColumn
{
    float: right;
    width: 60%;
}

#footer
{
    color: #999;
    padding: 5px 0 0 0;
    border-top: solid 1px #5C87B2;
    text-align: center;
    line-height: normal;
}

#footer p
{
    padding: 5px 0;
    margin: 0;
}

/* logindisplay
----------------------------------------------------------*/
#logindisplay
{
    font-size:1em;
    display:block;
    text-align:right;
    margin:0px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    padding: 0;
    position: relative;
    margin: 0;
    text-align: left;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 0px 0px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #f00;
}

ul#menu li a
{
    padding: 0px 0px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #F00;
}

ul#menu li a:hover
{
    background-color: #496FC8;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}



/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

/* Team Gameboard
----------------------------------------------------------*/
.teamGameboardPage
{
    width: 240px; /* По идее на многих старых телефонах всего 176 */
    margin-left: auto;
    margin-right: auto;
    border-width: thin;
}

.acceptedCode
{
	color: Green;
}

.acceptedBonusCode
{
	color: Fuchsia;
}

.acceptedBadCode
{
	color: Red;
}

.notAcceptedCode
{
}